html {
  font-family: ten-oldstyle, serif;
}

a {
  color: #000;
  list-style-type: none;
  text-decoration: none;
}

p {
  max-width: 28em;
}

.linzer {
  max-width: 28em;
}

.brandy {
  max-width: 23em;
}

.biscotti {
  max-width: 18em;
}

.chocolate {
  max-width: 29em;
}

.chip {
  max-width: 27em;
}

.footer {
  max-width: none;
}

h1, h2 {
  font-family: rumba, sans-serif;
  text-align: center;
}

.recipe {
  text-align: left;
}

h3, .btn, .ingredients {
  font-family: novel-display, sans-serif;
}

footer {
  border-top: solid;
  border-width: 1px;
}

.recipes {
  border-radius: 50%;
}

.btn-ghost {
  border-radius: 15px;
  border-color: #000;
  color: #000;
}

.btn-ghost:hover {
  background-color: #000;
  color: #fff;
}

.nav a:hover {
  background-color: #000;
  color: #fff;
  border-radius: 15px;
}

.border-bottom, .banner {
  border-bottom: 1px solid #000;
}

@media only screen and (min-width: 38em) {

  .banner {
    border-bottom: none;
    position: absolute;
    padding: .5em;
  }

  .action {
    top: 5em;
    left: 17em;
    text-align: center;
  }

  .banner-content {
    position: relative;
    border: none;
  }

}

@media only screen and (min-width: 60em) {

  .action {
    top: 12em;
    left: 26em;
  }

}

@media only screen and (min-width: 90em) {

  .action {
    top: 23em;
    left: 48em;
  }

}
