html {
  font-family: ten-oldstyle , serif;
}

a {
  color: #000;
  list-style-type: none;
  text-decoration: none;
}

h1, h2 {
  font-family: rumba, sans-serif;
}

h1, h2 {
  text-align: center;
}

h3 {
  font-family: novel-display,sans-serif;
}

footer {
  border-top: solid;
  border-width: 1px;
}

.recipes {
  border-radius: 50%;
}

.hover {
  filter: opacity(100%);
}

.hover:hover {
  filter: opacity(100%);
}
